.side-menu-container{
    height: 100vh;
    width: 220px;
    background-color: #e20814;
    display: flex;
    flex-direction: column;
    padding: 23px 10px;;
    box-sizing: border-box;
    box-shadow: 11px 0px 20px #ccc;
    gap: 10px;
    align-items: center;
}

.menu-row p{
    color: #fff;
    font-size: 13px;
}

.menu-row{
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;

    &:hover{
        background-color: #d86369f1;
    }
}

.img-logo{
    width: 8rem;
}